<!-- Generated template for the CounterComponent component -->
<div class="id">
  C{{id}}
</div>
<div class="count">
  {{count}}
</div>
<button ion-button small (click)="increment()">+</button>
<button ion-button small (click)="decrement()">-</button>
<button ion-button small (click)="removeCounter()">remove</button>
