<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic + Redux
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button class="add-counter" ion-button (click)="addCounter()">Add Counter</button>
  <counter *ngFor="let counter of counters$ | async"
    [id]="counter.id"
    [count]="counter.count"
  >{{counter.id}}</counter>
</ion-content>
